@font-face {
    font-family: 'inter';
    src: url("../assets/police/inter/Inter-Medium.ttf") format('truetype');
  }
  
  @font-face {
    font-family: 'ubuntu';
    src: url("../assets/police/ubuntu.ttf") format('truetype');
  }
  @font-face {
    font-family: 'inknut';
    src: url("../assets/police/inknut.ttf") format('truetype');
  }
  @font-face {
    font-family: 'pluto';
    src: url("../assets/police/pluto.ttf") format('truetype');
  }


  body{
    background-color: none;
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 0px;
  }
  #box{
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 0px;
    background-color:aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0%;
    padding: 0%;
    background-color: #08066A;
    background-attachment: fixed;
    position: fixed;
  }
  .box1{
    /* position: fixed; */
    width: 20%;
    display: inline-block;
    background-color: #08066A;
    height: 100%;
    /* background-attachment: fixed;
    position: fixed; */
  }
 
 
  .logo img{
    width: 80%;
    height: 80%;
    image-resolution: 2;
    object-position: center;
    margin-top: -5%;
  
  }
.allmenu{
    display: flex;
    flex-direction: column;
    margin-left: 15%;

}

.menu{
  display: flex;
  flex-direction: row;
  padding-top: 5%;
}
.menu0{
  display: flex;
  flex-direction: row;
  margin-top: 0%;
  background-color: aliceblue;
  border-radius: 10px 0px 0px 10px;
  z-index: 2;
  padding-top: 5%;
}
.menu .icon{
  width: 15%;
  height: 100%;
}
.menu .titre{
  width: 85%;
  height: 100%;
  margin-right: 5%;
}
.menu0 .icon{
  width: 15%;
  height: 100%;
  /* color: #08066A; */
}
.menu0 .titre{
  
  width: 85%;
  height: 100%;
  margin-right: 5%;
  

}
.icon img{
  width: 80%;
  height: 100%;

}
.menu0 .titre button{
  text-align: left;
  padding-left: 1%;
  width: 100%;
  height: 100%;
  color: #08066A;
  background: none;
  font-size: 110%;
  font-family: 'pluto',sans-serif;
  border: none; 
}

.titre button{
  text-align: left;
  padding-left: 1%;
  width: 100%;
  height: 100%;
  color: #ffff;
  background: none;
  font-size: 110%;
  font-family: 'pluto',sans-serif;
  border: none; 
}

.titre button:hover{
  color: #A6E77C;
  text-align: left;
  padding-left: 1%;
  width: 100%;
  height: 100%;
  color: #08066A;
  background: none;
  font-size: 110%;
  font-family: 'pluto',sans-serif;
  border: none; 
}

.div5 .butto {
  align-items: center;
    padding-left: 1%;
    width: 100%;
    height: 100%;
    background: none;
    font-size: 110%;
    font-family: 'pluto',sans-serif;
    border: none; 
    margin-left: -30px;

}
.div5 .butto p{
  color: #F5F5F5;
  margin-top: 5px;
}









/* Style de la scrollbar
::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}

/* Style du fond de la scrollbar */
/* ::-webkit-scrollbar-thumb {
  background-color: #b3b3b3;
  border-radius: 10px;
} */

/* Style de la "poignée" de la scrollbar */
/* ::-webkit-scrollbar-thumb:hover {
  background-color: #999;
} */

/* Style du fond de la scrollbar */
/* ::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}  */

::-webkit-scrollbar {
  width: 10px;
  
  background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-image: -webkit-gradient(linear,
                                     left bottom,
                                     left top,
                                     color-stop(0.44, rgb(122,153,217)),
                                     color-stop(0.72, rgb(73,125,189)),
                                     color-stop(0.86, rgb(28,58,148)));
}


  .box2{
     position: relative;
    display: flex;
    flex-direction: column;
    width: 80%;
    display: inline-block;
    background-color: aliceblue;
    height: 98.5%;
    border-radius: 30px 0px 0px 30px;
    
      overflow-y:scroll;
      overflow-x: hidden;
    
    

  }

  .box2 .div1{
    width: 100%;
    height: 10%;
    display: flex;
    flex-direction: row;
    margin-left: 2%;
    margin-top: 1%;
   
  }
  .div10{
    width: 7%;
    background: none;
    border: none;
  }
  .div10 img{
    
    width: 60%;
    height: 70%;
    position: relative;
    padding-top: 10%;
  }
  .div10 img:hover{
    width: 65%;
  }
  .div11{
    display: flex;
    justify-content:flex-start;
    align-items: center; 
    width: 80%;
  }
  .div11 p{
    color: #08066A;
    font-size: 150%;
    font-family: 'ubuntu',sans-serif; 
  }
  .div12{
    width: 10%;
  }

  .div2{
    position: absolute;
    width: 50%;
    height: 20%;
    left: 9% ;

  }
  .div2 p{
    color: rgb(92, 92, 92);
    font-size: 100%;
    font-family: 'pluto',sans-serif;
    font-weight:50 ;
    font-style: italic;
  }
  .div3{
    position: absolute;
    width: 38%;
    height: 10%;
    left: 4% ;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    top: 28%;
    background: none;
    border-bottom: none;
    border-top: none;
  } 
  *{
    font-family: 'pluto',sans-serif;
  }
  .div3 p{
    color: #1d1c5e;
    font-size:120% ;
    margin-left: 20px;
   
  }
  .div4{
    position: absolute;
    width: 40%;
    height: 10%;
    left: 5% ;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    top: 20%;
    background: rgb(246, 250, 253);
    border: none;
    border-radius: 35px 35px 35px 35px;
    box-shadow: 0px 5px 10px #08066A;
   
    
     
  }
  /* .div4 p{
    color: rgb(136, 130, 130);
    height: 15%;
  margin-left: 90px;
 
  } */
  .div6{
    position: absolute;
    width: 40%;
    height: 10%;
    left: 5% ;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    top: 40%;
    background: aliceblue;
    border: none;
    border-radius: 25px 25px 25px 25px;
    box-shadow: 0px 5px 10px #08066A;
    
     
  }.div7{
    position: absolute;
    width: 40%;
    height: 10%;
    left: 5% ;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    top: 60%;
    background: aliceblue;
    border: none;
    border-radius: 25px 25px 25px 25px;
    box-shadow: 0px 5px 10px #08066A;
    
  }
  /* .div6.input {
    border: solid 1.5px #fff;
    border-radius: 20px;
    background: black;
    padding: 1rem;
    font-size: 1rem;
    color: #212121;
    transition: border 150ms cubic-bezier(0.4,0,0.2,1);
    background: #FFFFFF;
    box-shadow: 0px 10px 20px rgba(8, 6, 106, 0.6);
    font-family: 'pluto',sans-serif;
   width: 60%;    
  } */
  .input:focus, input:valid {
    outline: none;
    border: 1.5px solid #08066A;
    border: solid 1.5px #fff;
    background-color: none;
    margin-left: 74px;
   }
  .div6 p{
    color: rgb(136, 130, 130);
    height: 15%;
  margin-left: 90px;
 
  }











  .div4 .school{
    width: 70%;
    height: 18%;
    border-radius: 20px 0px 20px 0px ;
    color: #ffff;
    font-size: 100%;
    background-color: #08066A;
    text-align: center;
      
  }
  .div5{
    position: absolute;
    width: 17%;
    height: 6%;
   margin-left: 140px;
   background-color: #08066A;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    top: 85%;
    border: none;
    border-radius: 5px 5px 5px 5px ;
    box-shadow: 0px 5px 20px #08066A;
  }
  /* .div5 .Titre{
    position: absolute;
    width: 17%;
    height: 6%;
   margin-left: 140px;
   background-color: #6a4a06;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    top: 85%;
    border: none;
    border-radius: 5px 5px 5px 5px ;
    box-shadow: 0px 5px 20px #08066A;
   } */
  
  .div5 .Titre p{
    display: flex;
   left: 10%;
    color: white;
    background: none;
    font-size: 120%;
    border: none;
    text-align: center;
    margin-top: 14px;
   
  }
  .div5:hover{
    border: solid 1.1px #A6E77C;
    box-shadow: 0px 5px 20px #A6E77C;
  }

  .div5 .Icon{
    width: 30%;
    height: 60%;
    display: flex;
    /* flex-direction: row; */
    justify-content: flex-end;
    align-items: center;
  }
  .Icon img{
    width: 70%;
    height: 90%;
    padding-right: 20%;
  }















