@font-face {
    font-family: 'inter';
    src: url("../assets/police/inter/Inter-Medium.ttf") format('truetype');
  }
  
  @font-face {
    font-family: 'ubuntu';
    src: url("../assets/police/ubuntu.ttf") format('truetype');
  }
  @font-face {
    font-family: 'inknut';
    src: url("../assets/police/inknut.ttf") format('truetype');
  }
  @font-face {
    font-family: 'pluto';
    src: url("../assets/police/pluto.ttf") format('truetype');
  }


  .box2{
    /* position: absolute; */
    display: flex;
    flex-direction: column;
    width: 80%;
    /*display: inline-block;*/
    background-color: aliceblue;
    height: 98.5%;
    border-radius: 30px 0px 0px 30px;
    overflow-y:scroll;
    overflow-x: hidden;
  }

  .box2 .div1{
    width: 100%;
    height: 10%;
    display: flex;
    flex-direction: row;
    margin-left: 2%;
    margin-top: 1%;
  }
  .div10{
    width: 10;
  }

  .div10 img{
    
    /* width: 100%;
    height: 50%; */
    position: relative;
    padding-top: 10%;
  }
  .div11{
    display: flex;
    justify-content:flex-start;
    align-items: center; 
    width: 80%;
  }
  .div11 p{
    color: #08066A;
    font-size: 150%;
    font-family: 'ubuntu',sans-serif; 
  }
 
  .box2 .div2{
    font-size: 100%;
    font-family: 'ubuntu',sans-serif; 
    display: flex;
    justify-content:flex-start;
    align-items: center; 
    margin-left: 8%;
  }

  .box2 .div3{
      
      margin-left: 5%;
      margin-right: 5%;
      margin-bottom: 5%;
      margin-top: 6%;
  }

  .box2 #titre{
    color: #08066A;
    font-size: 110%;
    font-family: 'ubuntu',sans-serif;
    text-decoration: underline;
    margin-top: 4%;
    margin-bottom: 4%;
  }

  .box2 .div3 p{
    font-family: 'pluto',sans-serif;
    margin-left: 3%;
  }
  